@import '~antd/lib/button/style/index.css';
@import '~antd/lib/table/style/index.css';

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

/*=======Hacker news styling======*/
header {
  width: 80%;
}
header h1 {
  margin: 0;
  text-align: left;
  background-color: rgb(255, 102, 0);
  font-size: 12pt;
  border-bottom: 1px solid rgb(93, 93, 93);
  font-weight: bold;
  padding: 0px 5px;
  cursor: pointer;
}
.app {
  width: 80%;
  font-family: Verdana, Geneva, sans-serif;
  color: rgb(130, 130, 130);
  background-color: #f6f6ef;
  border-bottom: 5px solid rgb(255, 102, 0);
}
.ant-table-wrapper {
  border-bottom: 1px dashed rgb(255, 102, 0);
  padding-bottom: 10px;
}
.ant-table-tbody > tr > td {
  background-color: #f6f6ef;
  padding: 0px 8px;
}
.ant-table-thead > tr > th {
  background-color: rgb(255, 102, 0);
  line-height: 12pt;
  height: 10px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8pt;
  color: rgb(0, 0, 0);
  padding: 0px 8px;
}
.news-title-block {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: rgb(53, 53, 53);
}
.createdOn {
  font-size: 8pt;
  margin-left: 5px;
}
.news-title-block .more-info-n-action span {
  margin-left: 0px;
  margin-right: 0px;
  padding: 3px;
  padding-left: 0;
  font-size: 8pt;
}
span.hide-action {
  color: #000;
  cursor: pointer !important;
}
.voteCount,
.comments {
  text-align: center;
}
.upVote {
  color: rgb(130, 130, 130);
  cursor: pointer;
  text-align: center;
}
.news-title-block a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.news-title-block a:visited {
  color: rgb(130, 130, 130);
}

.custom-pagination {
  text-align: right;
  padding: 10px;
  color: rgb(255, 102, 0);
  border-bottom: 1px solid rgb(255, 102, 0);
}
.ant-btn-primary {
  color: rgb(255, 102, 0);
  margin-right: 5px;
}
.ant-btn-primary,
.ant-btn-primary:focus,
.ant-btn-primary.active,
.ant-btn-primary:active {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  outline: none;
  color: rgb(210, 90, 10);
}
.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  outline: none;
}
.ant-btn-primary:hover {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  outline: none;
  color: rgb(210, 90, 10);
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .app,
  header {
    width: 100%;
  }
  .news-title-block,
  .ant-table-tbody > tr > td {
    font-size: 8pt;
  }
  .news-title-block .more-info-n-action span {
    font-size: 6pt;
  }
  .createdOn {
    display: none;
  }
  .timeline-chart {
    margin-top: 20px;
  }
}
